/*
Naming Conventions (to follow):
=============================
- for ids, use underscore(_)
- for classes, use hyphen(-)
*/

/* Fonts */
@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../fonts/Poppins-Medium.ttf') format('truetype');
}

.font-poppins-medium {
    font-family: Poppins-Medium, sans-serif;
}

.font-poppins-regular {
    font-family: Poppins-Regular, sans-serif;
}

.app-bg {
}

.main-container {
    background-color: #fff5e4;
}

.menu-btn {
    background-color: #EEE7E7 !important;
    border: none !important;
    color: black !important;
}

.menu-btn:hover {
    background-color: #E65050 !important;
    color: white !important;
}

.product-container {
    background-color: #FCDFDF;
}

.color-blue {
    background-color: #64CBD0;
}

.color-red {
    background-color: #AE000F;
}

.color-black {
    background-color: #363A46;
}

.color-selected {
    border: 4px solid #FFF;
    width: 62px !important;
    height: 62px !important;
    cursor: pointer;
}

.button-color:hover {
    cursor: pointer;
}

.button-color {
    width: 58px;
    height: 58px;
}