

#design_1 {
    background-color: rosybrown;
    position: absolute;
}

#design_2 {
    background-color: rosybrown;
    position: absolute;
}

#design_3 {
    background-color: rosybrown;
    position: absolute;
}

#design_4 {
    background-color: rosybrown;
    position: absolute;
}

#oberteil_blau {
    background-color: dodgerblue;
    position: absolute;
}

#oberteil_rot {
    background-color: red;
    position: absolute;
}

#oberteil_schwarz {
    background-color: black;
    position: absolute;
}

#unterteil_blau {
    background-color: dodgerblue;
    position: absolute;
}
#unterteil_rot {
    background-color: red;
    position: absolute;
}

#unterteil_schwarz {
    background-color: black;
    position: absolute;
}

#oberteil {
    position: absolute;
}

#unterteil {
    position: absolute;
}